body{
background-color: burlywood;
}
.headerDiv{
    background-color: cadetblue;
    color: aliceblue;
    font-weight: 800;
}
.startBtn{
    font-weight: 800;
    width: 20%;
    font-size: 20px;
}
#voices{
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
    border-radius: 15px;
}
.footerDiv{
    bottom: 0;
    position: fixed;
    background-color: aliceblue;
    width: 100%;
    font-size: 18px;
    text-shadow: 5px 5px 5px;
}

#sounds{
    background-color: darkseagreen;
    width: 20%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

#voice{
    background-color: aliceblue;
    width: 30%;
    height: 35px;
    padding: 7px;
    border-radius: 8px;
}